<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade++ API</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
</head>
<body>
<h1>Grade++ - Prediction API</h1>
<p>Welcome to they Grade++ API home page. You can find the <b>Terms of Use</b> of this API <a
        href="#">here</a>. Contact <a href="mailto:gradeplusplus@auth.acm.org">gradeplusplus@auth.acm.org</a> for more
    info!.</p>


</body>
</html>